 .header{
        background: linear-gradient(to left, #fff, #6df5a4,#fff);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;
    }

@media only screen and (min-width: 1200px) {
    body {
        margin: 0;
        font-family: "chillax";
        background-color: #f9f9f9;
    }

    header {
        background-color: #ffffff;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: linear-gradient(to left, #fff, #6df5a4,#fff);
        position: fixed;
       width: 100%;
       top: 0px;
       z-index: 1010;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo img {
        height: 70px;
        width: auto;
    }

    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    .login-button .btn {
        background-color: green;
        color: white;
        padding: 6px 40px;
        text-decoration: none;
        border-radius: 8px;
        font-size: 20px;
        margin: 0px;
    }

    .login-button .btn:hover {
        background-color: darkgreen;
    }

    .burger {
        display: none; /* Hide burger icon in desktop view */
    }

    .offcanvas-menu {
        display: none; /* Hide offcanvas menu in desktop view */
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    body {
        margin: 0;
        font-family: "chillax";
        background-color: #f9f9f9;
    }

    header {
        background: linear-gradient(to left, #fff, #6df5a4,#fff);
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
       width: 100%;
       top: 0px;
       z-index: 1010;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo img {
        height: 50px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

    .login-button .btn {
        background-color: green;
        color: white;
        padding: 6px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-size: 16px;
        margin: 0px;
    }

    .login-button .btn:hover {
        background-color: darkgreen;
    }

    .burger {
        display: none; /* Hide burger icon in tablet view */
    }

    .offcanvas-menu {
        display: none; /* Hide offcanvas menu in tablet view */
    }
}

@media only screen and (max-width: 599px) {
    header {
        background: linear-gradient(to left, #fff, #6df5a4,#fff);
   
       width: 100%;
       top: 0px;
       left:0px;
       z-index: 1010;
    }
    .nav-links, .login-button {
        display: none; /* Hide navigation links and login button */
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .burger {
        display: flex; /* Show burger icon in mobile view */
        flex-direction: column;
        cursor: pointer;
    }

    .burger span {
        height: 3px;
        width: 25px;
        background-color: black;
        margin: 4px 0;
    }

    .logo {
        display: flex;
        
        align-items: center;
        flex-grow: 1;
    }

    .logo img {
        max-width: 100px; /* Adjust logo size as needed */
        height: auto;
    }


    .offcanvas-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .offcanvas-menu li {
        margin: 20px 0;
    }

    .offcanvas-menu a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .offcanvas-menu .btn {
        display: inline-block;
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
    }


  
    .offcanvas-menu{
        background: linear-gradient(to top, #fff, #6df5a4,#fff);
        width: 60%;
    }
}
