<div class="head">

<header class="header">
    <div class="logo">
        <img src="../../assets/logo1.png" alt="Logo">
    </div>

    <div class="navbar">
        <p class="nav1">Home</p>
        <p class="nav1">About</p>
        <p class="nav1">Why Choose</p>
        <p class="nav1">How It Works</p>
        <p class="nav1">What You'll Learn</p>
        <p class="nav1">Contact</p>
        <button class="btn login-btn" routerLink="/login">Login</button>
    </div>


</header>




<div class="offcanvas offcanvas-end" id="demo">
        
    <div class="offcanvas-header">
    
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      
      <p data-bs-dismiss="offcanvas"><a href="#About" class="menu-item" > About</a></p>
      <p data-bs-dismiss="offcanvas"><a href="#Our Approach" class="menu-item" > Our Approach</a></p>
      <p data-bs-dismiss="offcanvas"><a href="#Team" class="menu-item" > Team</a></p>
      <p data-bs-dismiss="offcanvas"><a href="#Why" class="menu-item" > Why </a></p>
      <p data-bs-dismiss="offcanvas"><a href="#Contact" class="menu-item" > Contact</a></p>
      
    </div>
  </div>
</div>