<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-6 ">
                <div class="dd">
                    <div>
                
                    <div class="logo">
                        <a href=""><img src="../../assets/logo.png" alt="logo"></a>
                       </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-6 followus mbview">
                <div>
                    <p class="h1">Follow Us</p>
                </div>
            <div class="sociallogo">
                <a href=" https://www.facebook.com/letsifysigma4solutions" target="_blank"><img src="../../assets/facebook.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/prettify_boutiquee?igsh=cTBmYWRrc2pna25u" target="_blank"><img src="../../assets/insta.svg" alt="instagram"></a>
                <a href="https://sigma4solutions.com/" target="_blank"> <img src="../../assets/whatsapp1.svg" alt="whatsapp"></a>  
               </div>
            </div>



            <div class="col-md-4 col-12 contactus">
                <div>
                <p class="h1">Contact us</p>
                
                <div class="email ab">
                    <a href=""  class="cntlogo" ><img  src="../../assets/emaillogo.svg" alt=""></a>
                    <p> prettifybotique&#64;gmail.com</p>
                </div>
                <div class="address ab">
                    <a href="" class="cntlogo"><img src="../../assets/address.svg" alt=""></a>
                    <p> Address: 2/455e, 2nd street, <br>Thanthai Periyar Nagar,<br> Karaikudi-630002,sivanganga,
                        <br>TamilNadu 630002</p>
                </div>
            </div>
                
            </div>

            <div class="col-md-4 followus ddview">
                <div>
                    <p class="h1">Follow Us</p>
                </div>
            <div class="sociallogo">
                <a href=" https://www.facebook.com/letsifysigma4solutions" target="_blank"><img src="../../assets/facebook.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/prettify_boutiquee?igsh=cTBmYWRrc2pna25u" target="_blank"><img src="../../assets/insta.svg" alt="instagram"></a>
                <a href="https://sigma4solutions.com/" target="_blank"> <img src="../../assets/whatsapp1.svg" alt="whatsapp"></a>  
               </div>
            </div>

            <div>
            
        </div>
        
       
    </div>
    <div class="comname">
        <p class="pretify"> &#64; copyright 2024 - Letsify Sigma4Solutions Private Limited - All rights reserved </p>
      
    </div>
</div>    





           