
<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
               <div class="logo">
                <img src="../../assets/logo.png" alt="logo">
               </div>
               <div class="sociallogo">
                <img src="../../assets/facebook.svg" alt="facebook">
                <img src="../../assets/insta.svg" alt="instagram">
                <img src="../../assets/whatsapp.svg" alt="whatsapp">
               </div> 
            </div>
            <div class="col-4 details">
                <p class="h1">Contact us</p>
                
                <div class="email ab">
                    <p >Email:<p> 
                    <p>prettify2&#64;gmail.com</p>
                </div>
                <div class="address ab">
                    <p>Address: </p>
                    <p> No.24, Main Road, subramani Street,karaikudi,<br>sivanganga,<br>TamilNadu  600 031</p>
                </div>
                <div class="hour ab">
                   <p> Working hours:</p>
                   <p> Monday-Saturday :9.00am - 7.00pm</p>
                </div>
           
        
            </div>
            <div class="col-4">
                <p class="h1">Get a Free Quote</p>
                <div class="contact">
                    <img src="../../assets/phone.svg" alt="phlogo">
                    <p class="number">8966542149</p>
                </div>
                <p class="touch">get in touch get a free quote or</p>
                <p class="request">Request a quote now</p>
               
            </div>
        </div>
    </div>
    <div class="comname">
        <p class="pretify"> &#64; copyright 2024 - Letsify Sigma4Solutions Private Limited - All rights reserved </p>
      
    </div>
</div>    