#courses{
    background: linear-gradient(to right, #9ce0b7, #fff);
    // height: vh;
   
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    // box-shadow: 6px 6px 12px #b4f595, -6px -6px 12px #b4f595;
    transition: transform 0.4s, box-shadow 0.4s;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 8px 8px 16px #b4f595, -8px -8px 16px #b4f595;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #b4f595;
}

.card-body {
    padding: 20px;
    text-align: center;

}

.card-title {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Chillax';
    
}

.card-text {
    color: #777;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'lado';
    font-style: italic;
    font-weight: 500;
}

.btn {
    background: #119d09;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    
}

.btn:hover {
    background: #bbf1a2;
    box-shadow: 0 5px 10px #119d09;
    color: black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5pxpx;
 
    margin-top: 40px;
    justify-content: space-around;
}




