
<div class="whychoosettl">
    <div class="container  why_choose">
        <div class="row">
            <div class="ddview">
            <div class="para1" >
                <p class="mainh1">Why Choose Prettify Academy ?</p>
                <p class="mainsubpara">
                    As we continue our journey, we invite you to be a part of fashion<br>
                    Academy's story. </p>
            </div>
        </div>


            <div class="col-xl-6 image">
                <div>
                    <img src="../../assets/image_3.jpeg" class="wcimg1" alt="whyimg1">
                <img src="../../assets/image_4.jpeg" class="wcimg2" alt="whyimg2">
                <img src="../../assets/image_5.jpeg" class="wcimg3" alt="whyimg3">
                <img src="../../assets/image_6.jpeg"  class="wcimg4" alt="whyimg4">

                </div>
                
            </div>
            <div class="col-xl-6 content ">
                <div>
                <div class="para1 mdview" data-aos="fade-up">
                    <p class="mainh1">Why Choose Prettify Academy ?</p>
                    <p class="mainsubpara">
                        As we continue our journey, we invite you to be a part of fashion<br>
                        Academy's story. Together, let's stitch a vibrant future!</p>
                </div>

                <div class="para box" data-aos="zoom-in">
                    <div class="logo">
                        <img src="../../assets/needle.svg" alt="needle">
                    </div>
                    <div>
                    <p class="conth1">Best Teaching</p>
                    <p class="contpara"> you can learn professional pattern making methods with perfect body fitting,fabric handling and boutique style finishing.</p>
                    </div>
                </div>
    
                <div class="para"  data-aos="zoom-in">
                    <div class="logo">
                        <img src="../../assets/needle.svg" alt="needle">
                    </div>
                   <div>
                    <div>
                    <p class="conth1">Customized Classes</p>
                    <p class="contpara">Gain knowledge at your convenience with flexible scheduling—accessible anytime, anywhere.</p>
                    </div>
                   </div>
    
                </div>
            
                <div class="para" data-aos="zoom-in">
                    <div class="logo">
                        <img src="../../assets/needle.svg" alt="needle">
                    </div>
                    <div>
                        <p class="conth1">Support</p>
                                <p class="contpara"> Learning made easy—Daily doubts will be addressed via WhatsApp through chat, call, or video call, depending on the need.</p>
                    </div>       
                </div>
            </div>
            </div>
            
            
    
            
        </div>
    </div>
    </div>