
<div class="whychoosettl">
    <div class="container  why_choose">
        <div class="row">
            <div class="ddview">
            <div class="para1" >
                <p class="mainh1">Why Choose Pretify Acadamy ?</p>
                <p class="mainsubpara">
                    As we continue our journey, we invite you to be a part of Aari<br>
                    Academy's story. </p>
            </div>
        </div>


            <div class="col-xl-6 image">
                <div>
                    <img src="../../assets/whychimg3.jpg" class="wcimg1" alt="whyimg1">
                <img src="../../assets/whychimg4.webp" class="wcimg2" alt="whyimg2">
                <img src="../../assets/whychimg2.webp" class="wcimg3" alt="whyimg3">
                <img src="../../assets/whychimg1.jpg"  class="wcimg4" alt="whyimg4">

                </div>
                
            </div>
            <div class="col-xl-6 content ">
                <div>
                <div class="para1 mdview" >
                    <p class="mainh1">Why Choose Pretify Acadamy ?</p>
                    <p class="mainsubpara">
                        As we continue our journey, we invite you to be a part of Aari<br>
                        Academy's story. Together, let's stitch a vibrant future!</p>
                </div>

                <div class="para box" data-aos="fade-left">
                    <div class="logo">
                        <img src="../../assets/needle.svg" alt="needle">
                    </div>
                    <div>
                    <p class="conth1">Best Teaching</p>
                    <p class="contpara">Our teaching philosophy extends beyond academic 
                        excellence. We are committed to nurturing well-
                        rounded individuals by emphasizing character
                        development.</p>
                    </div>
                </div>
    
                <div class="para" data-aos="zoom-out" >
                    <div class="logo">
                        <img src="../../assets/needle.svg" alt="needle">
                    </div>
                   <div>
                    <div>
                    <p class="conth1">Customized Classes</p>
                    <p class="contpara">  Choose from flexible schedules and personalized learning 
                        paths tailored to your goals, whether you’re pursuing 
                        a hobby or planning a career in fashion and design..</p>
                    </div>
                   </div>
    
                </div>
            
                <div class="para" data-aos="fade-left">
                    <div class="logo">
                        <img src="../../assets/needle.svg" alt="needle">
                    </div>
                    <div>
                        <p class="conth1">Best Price</p>
                                <p class="contpara">  We stand by our commitment to providing the best
                        prices. Special offers as a token of our appreciation
                         for choosing Aari academy.</p>
                    </div>       
                </div>
            </div>
            </div>
            
            
    
            
        </div>
    </div>
    </div>