.land{
    background: linear-gradient(to left, #9ce0b7,#fff);
    padding-top: 100px;
}

.header{
    padding-left: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
//   overflow: hidden;
    margin-top: -15px;


   
}


.image-container {
    position: relative;
    // margin-left: -25px;
    // margin-right: 500px;
}


.main-image {
    border-radius: 50%;
    margin-top: 106px;
    margin-left: 100px;
    position: relative;
    animation: rotateRight 1s ease-out forwards;
    z-index: 0;
    border: 8px solid #119d09;
    
}

@keyframes rotateRight {
    0% {
        transform: rotate(180deg);
        width: 100px;
        height: 100px;
    }
    100% {
        transform: rotate(360deg);
        width: 400px;
        height: 400px;
    }
}

.main-image1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #119d09;
    margin-top: -100px;
    object-fit: cover;
    z-index: 3;
    position: relative;
}





.ring-circle {
    width: 155px;
    height: 155px;
    border: 26px solid #119d09;
    border-radius: 50%;
    background-color: transparent;
    margin-top: -992px;
    margin-left: 335px;
    z-index: 0;

}


.ring-circle1 {
    width: 115px;
    height: 118px;
    border: 19px solid #119d09;
    border-radius: 50%;
    background-color: transparent;
    margin-top: -166px;
    margin-left: 420px;
    z-index: 1;
    

}


.ring-circle2 {
    width: 80px;
    height: 80px;
    border: 15px solid #1a8510;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 297px;
    margin-top: -67px;
    z-index: 1;
}

.title {
    font-size: 350%;
    margin-top: 10px;
    padding: 20px;
    font-weight: bold;
    width: fit-content;
    font-family:'Chillax';
    font-optical-sizing: auto;
    // text-shadow: 6px 6px 7px rgba(0, 0, 0, 0.2); 
    color: #197639;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}




.subtitle {
    font-size: 130%; 
    padding: 22px;
    font-weight: normal;
    width: 684px;
    margin-top: -18px;
    text-align: justify;
    font-family: "Lato";
    word-wrap: break-word; 
}

.bullet{
    display: flex;
    

}
.bullets{
    width:543px;
    margin-left: 15%;
}
.content{
    font-family: "Lato";
    font-size: 110%; 
    margin-left: 10px;
    font-style:italic;
}
