<div class="land">
    <div class="container" >
        <div class="lap">
        <div class="row " >
            <div class="col-6 header" data-aos="fade-right">
                <p class="title"> Welcome Prettify Boutique</p>
                <p class="subtitle">
                    Morbi tempus iaculis urna id volutpat lacus laoreet. Ornare aenean euismod elementum nisi.
                    Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Turpis in eu mi bibendum.
                    Fermentum et sollicitudin ac orci phasellus egestas.
                </p>


                <div class="bullets">
                    <div class="bullet">
                        <div> <img src="../../assets/needleicon2.svg" alt="icon" width="30px" height="30px"></div>   
                        <div><p class="content">Expertise in Aari Embroidery 5+ years of Aari embroidery excellence.</p></div>
                    </div>
            
                    <div class="bullet">
                        <div> <img src="../../assets/needleicon2.svg" alt="icon" width="30px" height="30px"></div>   
                        <div><p class="content">Professional Training Training 2,000+ learners worldwide</p></div>
                    </div>
                    <div class="bullet">
                        <div> <img src="../../assets/needleicon2.svg" alt="icon" width="30px" height="30px"></div>   
                        <div><p class="content">Empowering Creativity Courses in Tamil & English</p></div>
                    </div>
                    <div class="bullet">
                        <div> <img src="../../assets/needleicon2.svg" alt="icon" width="30px" height="30px"></div>   
                        <div><p class="content">Elegant Boutique Tradition meets modern elegance</p></div>
                    </div>
                    <div class="bullet">
                        <div> <img src="../../assets/needleicon2.svg" alt="icon" width="30px" height="30px"></div>  
                        <div><p class="content">Learn & Create Unlock your creativity with expert guidance</p></div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-6 image-container">
                <img src="../../assets/landing1.jpg" alt="Man in desert" class="main-image" >
                <div class="circle-overlay"></div>
                <img src="../../assets/aari2.jpg" alt="Man in desert" class="main-image1" >
                <div class="container">
               
                    <div class="ring-circle"></div>
                </div>
                
                <div class="ring-circle1" data-aos="fade-down-right"></div>
    
                <div class="ring-circle2"></div>
            </div>
        </div>
    </div>