
@media only screen and (min-width:1200px) {

.land{
    background: linear-gradient(to left, #9ce0b7,#fff);
    padding-top: 100px;
}

.header{
    padding-left: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
//   overflow: hidden;
    margin-top: -15px;


   
}


.image-container img {
    position: relative;
    width: 600px;
}


.main-image {
 
    animation: rotateRight 1s ease-out forwards;
    
    
}

@keyframes rotateRight {
    0% {
        transform: rotate(180deg);
        width: 100px;
        height: 100px;
    }
    100% {
        transform: rotate(360deg);
        width: 400px;
        height: 400px;
    }
}


.title {
    font-size: 350%;
    margin-top: 10px;
    padding: 20px;
    font-weight: bold;
    width: fit-content;
    font-family:'Chillax';
    font-optical-sizing: auto;
    // text-shadow: 6px 6px 7px rgba(0, 0, 0, 0.2); 
    color: #197639;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}




.subtitle {
    font-size: 130%; 
    padding: 22px;
    font-weight: normal;
    width: 684px;
    margin-top: -18px;
    text-align: justify;
    font-family: "Lato";
    word-wrap: break-word; 
}

.bullet{
    display: flex;
    

}
.bullets{
    width:543px;
    margin-left: 15%;
}
.content{
    font-family: "Lato";
    font-size: 110%; 
    margin-left: 10px;
    font-style:italic;
}

.img-align-2{
    width: 100%;
}
}