<div class="land">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 header" data-aos="fade-zoom">
                <p class="title">Welcome to Prettify Boutique</p>
                <p class="subtitle">
                 Where creativity meets craftsmanship! At prettify boutique we nurture talent, inspire innovation, and shape the future of fashion. Whether you're a beginner with a passion for design or a professional looking to refine your skills, our academy is your gateway to ur passion. At prettify boutique we believe that fashion is not just an art—it's an ever-evolving language of self-expression. Our academy, with 5 years of excellence, has been a pioneer in providing cutting-edge education, blending traditional techniques with modern trends..
                </p>
            </div>

            
            <div class="col-lg-6 image-container">
                <div>
                <img src="../../assets/image_1.webp" alt="Boutique Image" class="main-image"></div>
            </div>
        </div>
    </div>
</div>
