
<div class="overall">


<div id="learn"></div>

<div class="learn1">
    <div class="learnh1">
        <p>What You'll Learn</p>
    </div>
    <div class="container">
        <div class="row">
          
            <div class="col-12 col-md-4 cont">
                <div class="learn-box box1">
                    <h4 class="h1">Introduction to Aari Embroidery:</h4>
                    <p class="para">Learn the basics of Aari work, Tools, Stitches and Materials.</p>
                </div>
            </div>

            
            <div class="col-12 col-md-4 cont">
                <div class="learn-box box2">
                    <h4 class="h1">Essential Stitches:</h4>
                    <p class="para">Master foundational stitches like chain stitch, knotting, and French knots.</p>
                </div>
            </div>

            <div class="col-12 col-md-4 cont">
                <div class="learn-box box3">
                    <h4 class="h1">Advanced Techniques:</h4>
                    <p class="para">Dive into intricate designs, multi-colored work, and fine detailing.</p>
                </div>
            </div>

           
            <div class="col-12 col-md-4 cont">
                <div class="learn-box box4">
                    <h4 class="h1">Practical Applications:</h4>
                    <p class="para">Understand how to apply your skills to create beautiful designs for fabrics and accessories.</p>
                </div>
            </div>

           
            <div class="col-12 col-md-4 cont">
                <div class="learn-box box5">
                    <h4 class="h1">Design Creation:</h4>
                    <p class="para">Learn how to create your own embroidery patterns and customize them.</p>
                </div>
            </div>


            <div class="col-12 col-md-4 cont">
                <div class="learn-box box6">
                    <h4 class="h1">Design Creation:</h4>
                    <p class="para">Learn how to create your own embroidery patterns and customize them.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

