
<div class="overall">
  
    <div class="learn1">
        <div class="learnh1">
            <p>What You'll Learn</p>
        </div>


        <div class="container">
            
            <div class="row ">
            
                <div class="col-sm-6 col-xl-4 ">
                    <div class="cont">
                        <div class="learn-box box1"  >
                            
                            <h4 class="h1"><img src="../../assets/tick.svg" alt="ticklogo" class="ticklogo">Intoduction to stitching:</h4>
                            <p class="para">you can learn basic of stitching, materials and basic tailoring toolsL.</p>
                        </div>

                    </div>
                    
                </div>

                
                <div class="col-sm-6 col-xl-4 ">
                    <div class="cont">
                        <div class="learn-box box2">
                            
                            <h4 class="h1"><img src="../../assets/tick.svg" alt="ticklogo" class="ticklogo"> Pattern making:</h4>
                            <p class="para">you can learn professional pattern making methods which make you to achieve any type of garments that you wish</p>
                        </div>

                    </div>
                    
                </div>

                <div class="col-sm-6 col-xl-4 " >
                    <div class="cont">
                        <div class="learn-box box3">
                            
                            <h4 class="h1"><img src="../../assets/tick.svg" alt="ticklogo"  class="ticklogo">fitting:</h4>
                            <p class="para"> you can achieve perfect body fitting through take a perfect body measurement with pattern making tecniques</p>
                        </div>

                    </div>
                
                </div>

            
                <div class="col-sm-6 col-xl-4">
                    <div class="cont">
                        <div class="learn-box box4">
                            
                            <h4 class="h1"><img src="../../assets/tick.svg" alt="ticklogo" class="ticklogo">finishing:</h4>
                            <p class="para"> you can achieve boutique style finishing using inivisible stitching methods with piping, and hemming techinques</p>
                        </div>

                    </div>
                    
                </div>

            
                <div class="col-sm-6 col-xl-4 ">
                    <div class="cont">
                        <div class="learn-box box5">
                            
                            <h4 class="h1"><img src="../../assets/tick.svg" alt="ticklogo"  class="ticklogo">standard charts:</h4>
                            <p class="para">standard charts should be given by using this you can practice different measurement to make your pattern making more strong</p>
                        </div>

                    </div>
                    
                </div>


                <div class="col-sm-6 col-xl-4 mbview " >
                    <div class="cont">
                        <div class="learn-box box6 ">
                            
                            <h4 class="h1"> <img src="../../assets/tick.svg" alt="ticklogo"  class="ticklogo">fabric handling:</h4>
                            <p class="para"> you can learn how to handle different types of fabric and how to choose right fabric for the garments</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
     </div>

</div>
