<!-- <div id="howitwork">
<div class="heading">
    <p>How It Works</p>
</div>
<div class="container steps">
    <div class="row hiw"  data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step1</p>
        </div>
        <div class="col-6 hiwcont " >
            <p>Resigter Easily:</p>
            <p>Sign up for our online Aari embroidery class with a simple 
                registration process. Scan the QR code to access the registration
                 page and get started in minutes.</p>
        </div>
    </div>
   
</div>
<div class="container steps">
    <div class="row hiw" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step 2</p>
        </div>
        <div class="col-6 hiwcont">
            <p>Make Your Payment:</p>
            <p>Complete your enrollment by making a secure online payment.
                 Kindly share your payment screenshot for confirmation. Upon confirmation, 
                 you’ll receive your unique username and password.</p>
        </div>
       
    </div>
</div>
<div class="container steps">
    <div class="row hiw" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step 3</p>
        </div>
        <div class="col-6 hiwcont">
            <p>Unlock the Course:</p>
            <p>Log in with your credentials to access your course materials, 
                including video lessons, design templates, and learning resources.</p>
        </div>
       
    </div>
</div>
<div class="container steps">
    <div class="row hiw" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step 4</p>
        </div>
        <div class="col-6 hiwcont">
            <p>Learn and Complete::</p>
            <p>Follow the lessons, practice the techniques, and progress at your own pace.
                 Complete the course to gain a certificate and showcase your Aari embroidery skills!</p>
        </div>
       
    </div>
</div>
</div> -->



<div class="container htreg ">
    <div class=" section mb-5">
        <h2 class="section-title">How To Register</h2>
        <p class="section-subtitle">Register in a flash, start your Aari journey today!</p>
    </div>
    <div class="row ">
        <div class="col-md-4">
            <div class="reg-box">
                <div class="reg-icon">
                    <i class="bi bi-person-check"></i>
                </div>
                <h3 class="reg-title">Resigter Easily</h3>
                <p class="reg-text">Our Aari embroidery class is led by an experienced teacher with expert knowledge in this 
                    intricate art form. Learn traditional techniques and create beautiful, detailed designs under expert guidance.</p>
            </div>
        </div>
      
        <div class="col-md-4">
            <div class="reg-box">
                <div class="reg-icon">
                    <i class="bi bi-globe"></i>
                </div>
                <h3 class="reg-title">Make Your Payment</h3>
                <p class="reg-text">Complete your enrollment by making a secure online payment.
                    Kindly share your payment screenshot for confirmation. Upon confirmation, 
                    you’ll receive your unique username and password.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="reg-box">
                <div class="reg-icon">
                    <i class="bi bi-mortarboard"></i>
                </div>
                <h3 class="reg-title">Unlock the Course</h3>
                <p class="reg-text">Log in with your credentials to access your course materials, 
                    including video lessons, design templates, and learning resources. </p>
            </div>
        </div>
    </div>
</div>


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
