<div id="howitwork">
<div class="heading">
    <p>How It Works</p>
</div>
<div class="container steps">
    <div class="row hiw"  data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step1</p>
        </div>
        <div class="col-6 hiwcont " >
            <p>Resigter Easily:</p>
            <p>Sign up for our online Aari embroidery class with a simple 
                registration process. Scan the QR code to access the registration
                 page and get started in minutes.</p>
        </div>
    </div>
   
</div>
<div class="container steps">
    <div class="row hiw" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step 2</p>
        </div>
        <div class="col-6 hiwcont">
            <p>Make Your Payment:</p>
            <p>Complete your enrollment by making a secure online payment.
                 Kindly share your payment screenshot for confirmation. Upon confirmation, 
                 you’ll receive your unique username and password.</p>
        </div>
       
    </div>
</div>
<div class="container steps">
    <div class="row hiw" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step 3</p>
        </div>
        <div class="col-6 hiwcont">
            <p>Unlock the Course:</p>
            <p>Log in with your credentials to access your course materials, 
                including video lessons, design templates, and learning resources.</p>
        </div>
       
    </div>
</div>
<div class="container steps">
    <div class="row hiw" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
        <div class="col-6 step">
            <p>Step 4</p>
        </div>
        <div class="col-6 hiwcont">
            <p>Learn and Complete::</p>
            <p>Follow the lessons, practice the techniques, and progress at your own pace.
                 Complete the course to gain a certificate and showcase your Aari embroidery skills!</p>
        </div>
       
    </div>
</div>
</div>