.htreg{
  padding-top: 100px;
  padding-bottom: 100px;

}
.section{
  text-align: center;
}
.section-title {
    font-family:  serif;
    font-size: 2rem;
    font-weight: 600;
    color: #119d09;
}
.section-subtitle {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 2rem;
}
.reg-box {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.reg-box:hover {
    transform: translateY(-10px);
    box-shadow: 3px 6px 6px 6px  #96cc93;

}
.reg-icon {
    font-size: 3rem;
    color: #119d09;
    margin-bottom: 20px;
}
.reg-title {
    font-size: 1.25rem;
    font-weight: 600;
    color:#119d09;
    margin-bottom: 10px;
}
.reg-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }