
<div class="reg">
<div class="container htreg ">
    <div class=" section mb-5">
        <h2 class="section-title">How To Register</h2>
        <p class="section-subtitle">Register in a flash, start your Aari journey today!</p>
    </div>
    <div class="row ">
        <div class="col-md-4">
            <div class="reg-box">
                <div class="reg-icon">
                    <i class="bi bi-person-check"></i>
                </div>
                <h3 class="reg-title">Resigter Easily</h3>
                <p class="reg-text">Our Aari embroidery class is led by an experienced teacher with expert knowledge in this 
                    intricate art form. Learn traditional techniques and create beautiful, detailed designs under expert guidance.</p>
            </div>
        </div>
      
        <div class="col-md-4">
            <div class="reg-box">
                <div class="reg-icon">
                    <i class="bi bi-globe"></i>
                </div>
                <h3 class="reg-title">Make Your Payment</h3>
                <p class="reg-text">Complete your enrollment by making a secure online payment.
                    Kindly share your payment screenshot for confirmation. Upon confirmation, 
                    you’ll receive your unique username and password.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="reg-box">
                <div class="reg-icon">
                    <i class="bi bi-mortarboard"></i>
                </div>
                <h3 class="reg-title">Unlock the Course</h3>
                <p class="reg-text">Log in with your credentials to access your course materials, 
                    including video lessons, design templates, and learning resources. </p>
            </div>
        </div>
    </div>
</div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
