#courses{
    background: linear-gradient(to right, #9ce0b7, #fff);
    // height: 100vh;
    

}
.h1{
    
    text-align: center;
    color: #119d09;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Chillax';
    padding-top: 120px;
}
